        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        *{
            margin: 0;
            padding: 0;
            font-family: Montserrat;
        }
        body{
            background: #A1D6B2;
        }
        .main{
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 0.6em;
            width: 50vw;
            height: 95vh;
        }
        .winner{
            width: 100%;
            height: 10%;
            text-align: center;
           
        }
        .dis{
            display: none;
        }
        .new,.reset{
            width: 14%;
            height: 7%;
            background: #33372C;
            border: none;
            border-radius: 7px;
            color: aliceblue;

        }
        .game{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            row-gap: 0.2em;
            column-gap: 0.1em; 
            width: 60%;
            height: 70%;
        }
        .box{
            width: 19vmin;
            height: 19vmin;
            background:#E8B86D;
            border: none;
            border-radius: 9px;
            margin: 0px;
            box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(1,1,1,0.4);
            font-weight: 500;
            font-size: 8vmin;
            color: #33372C;
        }